{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <a style="position: absolute; left: 12px; top: 12px" class="btn btn-sm btn-primary" href="{{ path('newArticleAdmin') }}">Créer un article</a>
{% endblock %}
