<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="topbar">
        <a href="#" class="topbar-logo">Social</a>
        <nav class="topbar-nav">
            <a href="#">Accueil</a>
            <a href="#" class="active">Historique</a>
            <a href="#">Evènement</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <div class="container">
        <nav class="sidebar">
            <a href="#" class="sidebar-home active">Fil d'actualité</a>
            <a href="#" class="sidebar-messages">Messages</a>
            <a href="#" class="sidebar-events">Evènements</a>
            <a href="#" class="sidebar-groupes">Groupes</a>
            <a href="#" class="sidebar-amis">Amis</a>
        </nav>
        <main class="main">
            <div class="card">
                Mon pseudo
            </div>
        </main>
        <aside>

        </aside>
    </div>
</body>
</html>